Update FIFA..[TaxFracGDP] 
Set [Country Name]= 'USA' 
From FIFA..[testing out]
Where [Country Name]= 'United States'   

Update FIFA..[TaxFracGDP] 
Set [Country Name]= 'Bahamas' 
From FIFA..[testing out]
Where [Country Name]= 'Bahamas, The'   

Update FIFA..[TaxFracGDP] 
Set [Country Name]= 'Cape Verde Islands' 
From FIFA..[testing out]
Where [Country Name]= 'Cape Verde'   

Update FIFA..[TaxFracGDP] 
Set [Country Name]= 'Bosnia-Herzegovina' 
From FIFA..[testing out]
Where [Country Name]= 'Bosnia and Herzegovina'   

Update FIFA..[TaxFracGDP] 
Set [Country Name]= 'Congo' 
From FIFA..[testing out]
Where [Country Name]= 'Congo, Rep.'   

Update FIFA..[TaxFracGDP] 
Set [Country Name]= 'CongoDR' 
From FIFA..[testing out]
Where [Country Name]= 'Congo, Dem. Rep.'

Update FIFA..[TaxFracGDP] 
Set [Country Name]= 'Egypt' 
From FIFA..[testing out]
Where [Country Name]= 'Egypt, Arab Rep.'   
   
Update FIFA..[TaxFracGDP] 
Set [Country Name]= 'Faroe Islands' 
From FIFA..[testing out]
Where [Country Name]= 'Faeroe Islands'

Update FIFA..[TaxFracGDP] 
Set [Country Name]= 'HongKong' 
From FIFA..[testing out]
Where [Country Name]= 'Hong Kong SAR, China'

Update FIFA..[TaxFracGDP] 
Set [Country Name]= 'Iran' 
From FIFA..[testing out]
Where [Country Name]= 'Iran, Islamic Rep.'

Update FIFA..[TaxFracGDP] 
Set [Country Name]= 'Korea Republic' 
From FIFA..[testing out]
Where [Country Name]= 'Korea, Rep.'

Update FIFA..[TaxFracGDP] 
Set [Country Name]= 'KoreaDPR' 
From FIFA..[testing out]
Where [Country Name]= 'Korea, Dem. Rep.'

Update FIFA..[TaxFracGDP] 
Set [Country Name]= 'Gambia' 
From FIFA..[testing out]
Where [Country Name]= 'Gambia, The'

Update FIFA..[TaxFracGDP] 
Set [Country Name]= 'Laos' 
From FIFA..[testing out]
Where [Country Name]= 'Lao PDR'

Update FIFA..[TaxFracGDP] 
Set [Country Name]= 'Kyrgyzstan' 
From FIFA..[testing out]
Where [Country Name]= 'Kyrgyz Republic'

Update FIFA..[TaxFracGDP] 
Set [Country Name]= 'Macau' 
From FIFA..[testing out]
Where [Country Name]= 'Macao SAR, China'

Update FIFA..[TaxFracGDP] 
Set [Country Name]= 'FYR Macedonia' 
From FIFA..[testing out]
Where [Country Name]= 'Macedonia, FYR'

Update FIFA..[TaxFracGDP] 
Set [Country Name]= 'Venezuela' 
From FIFA..[testing out]
Where [Country Name]= 'Venezuela, RB'

Update FIFA..[TaxFracGDP] 
Set [Country Name]= 'TrinidadandTobago' 
From FIFA..[testing out]
Where [Country Name]= 'Trinidad and Tobago'

Update FIFA..[TaxFracGDP] 
Set [Country Name]= 'UnitedArabEmirates' 
From FIFA..[testing out]
Where [Country Name]= 'United Arab Emirates'

Update FIFA..[TaxFracGDP] 
Set [Country Name]= 'Yemen' 
From FIFA..[testing out]
Where [Country Name]= 'Yemen, Rep.'

Update FIFA..[TaxFracGDP] 
Set [Country Name]= 'Slovakia' 
From FIFA..[testing out]
Where [Country Name]= 'Slovak Republic'

Update FIFA..[TaxFracGDP] 
Set [Country Name]= 'Russia' 
From FIFA..[testing out]
Where [Country Name]= 'Russian Federation'

Update FIFA..[TaxFracGDP] 
Set [Country Name]= 'China PR' 
From FIFA..[testing out]
Where [Country Name]= 'China'

Update FIFA..[TaxFracGDP] 
Set [Country Name]= 'Republic of Ireland' 
From FIFA..[testing out]
Where [Country Name]= 'Ireland'

Update FIFA..[TaxFracGDP] 
Set [Country Name]= 'St.Kitts and Nevis' 
From FIFA..[testing out]
Where [Country Name]= 'St. Kitts and Nevis'

Update FIFA..[TaxFracGDP] 
Set [Country Name]= 'St.Lucia' 
From FIFA..[testing out]
Where [Country Name]= 'St. Lucia'

Update FIFA..[TaxFracGDP] 
Set [Country Name]= 'St.Vincent and the Grenadines' 
From FIFA..[testing out]
Where [Country Name]= 'St. Vincent and the Grenadines'

Update FIFA..[TaxFracGDP] 
Set [Country Name]= 'Syria' 
From FIFA..[testing out]
Where [Country Name]= 'Syrian Arab Republic'

Update FIFA..[TaxFracGDP] 
Set [Country Name]= 'SÃ£o TomÃ©e PrÃ­ncipe' 
From FIFA..[testing out]
Where [Country Name]= 'Sao Tome and Principe'

Update FIFA..[TaxFracGDP] 
Set [Country Name]= 'USVirginIslands' 
From FIFA..[testing out]
Where [Country Name]= 'Virgin Islands (U.S.)'

Update FIFA..[TaxFracGDP] 
Set [Country Name]= 'Palestine' 
From FIFA..[testing out]
Where [Country Name]= 'West Bank and Gaza'

-- Still need to take care of Wales, Northern Ireland, Scotland, and England
-- These countries should take on the values in United Kingdom


-- see what is left in Narek's XLS file
SELECT 
    NS.[country] --, 
    --DK.[Country Name] 
FROM [FIFA].[dbo].[testing out] NS
LEFT OUTER JOIN [FIFA].[dbo].[TaxFracGDP] DK
  ON NS.[country] = DK.[Country Name]
WHERE DK.[Country Name] is Null
ORDER BY NS.[country]

-- see what is left in the World Bank data
SELECT 
    --NS.[country], 
    DK.[Country Name] 
FROM [FIFA].[dbo].[TaxFracGDP] DK
LEFT OUTER JOIN [FIFA].[dbo].[testing out] NS
  ON NS.[country] = DK.[Country Name]
WHERE NS.[country] is Null
ORDER BY DK.[Country Name] 