SELECT [C-id],[Country]
      ,[fps1],[fps2],[fps3],[fps4],[fps5],[fps6],[fps7],[fps8],[fps9]
      ,[fps10],[fps11],[fps12],[fps13],[fps14],[fps15],[fps16],[fps17],[fps18],[fps19]
      ,[Latitude]
      ,[All Players],[Registered players],[Unregistered Players],[Clubs],[Officials]
  FROM [FIFA].[dbo].['Panel-Wide_WDI$'] W
  Where W.Country not in /*UEFA*/ ('Albania'
                                 , 'Austria'
                                 , 'Belarus', 'Belgium', 'Bulgaria', 'Cyprus', 'Denmark', 'Spain',
    'Sweden', 'Switzerland', 'Ukraine', 'Lithuania', 'Luxembourg', 'Malta', 'Netherlands', 'Norway', 'Poland',
    'Portugal', 'Romania', 'Russia', 'Slovakia', 'Slovenia', 'Estonia', 'Finland', 'Germany', 'Greece', 'Hungary',
    'Iceland', 'Israel', 'Italy', 'Latvia', 'Liechtenstein', 'Turkey', 'Armenia', 'Georgia', 'Croatia', 'France',
    'Czech Republic', 'Bosnia-Herzegovina', 'FYR Macedonia') 
    and W.Country not in /*CONCACAF*/ ('Canada', 'Mexico', 'USA', 'Panama', 'Costa Rica', 'Trinidad and Tobago', 'Nicaragua',
    'Grenada', 'El Salvador', 'Guatemala', 'St. Vincent and the Grenadines', 'St. Lucia', 'Honduras', 'Dominica',
    'Antigua and Barbuda', 'Aruba', 'Bahamas', 'Barbados', 'Suriname', 'Guyana', 'Cayman Islands', 'Cuba',
    'Dominican Republic', 'Haiti', 'Jamaica', 'Puerto Rico', 'St. Kitts and Nevis', 'Bermuda') 
    and W.Country not in /*CAF*/ ('Lesotho', 'Swaziland', 'Mozambique', 'South Africa', 'Botswana', 'Namibia', 'Madagascar',
    'Mauritius', 'Zimbabwe', 'Zambia', 'Malawi', 'Angola', 'Tanzania', 'Congo DR', 'Congo', 'Burundi', 'Rwanda',
    'Kenya', 'Uganda', 'Gabon', 'Equatorial Guinea', 'Cameroon', 'Ghana', 'Central African Republic', 'Togo',
    'Liberia', 'Benin', 'Sierra Leone', 'Ethiopia', 'Nigeria', 'Djibouti', 'Guinea-Bissau', 'Chad', 'Burkina Faso',
    'Gambia', 'Niger', 'Mali', 'Senegal', 'Eritrea', 'Sudan', 'Mauritania', 'Egypt', 'Libya', 'Morocco', 'Algeria',
    'Tunisia', 'Somalia', 'Guinea', 'Cape Verde Islands', 'Seychelles') 
    and W.Country not in /*CONMEBOL*/ ('Uruguay', 'Argentina', 'Chile', 'Paraguay', 'Brazil', 'Bolivia', 'Peru', 'Ecuador', 
    'Colombia', 'Venezuela') 
    and W.Country not in /*AFC*/ ('Australia', 'Brunei Darussalam', 'Iran', 'Iraq', 'Jordan', 'Lebanon', 'Mongolia', 'Oman',
    'Malaysia', 'Singapore', 'Thailand', 'Laos', 'Vietnam', 'Myanmar', 'Japan', 'Philippines', 'Bangladesh', 'India',
    'Pakistan', 'Sri Lanka', 'Nepal', 'Maldives', 'Bahrain', 'Saudi Arabia', 'Qatar', 'Syria', 'Yemen', 'Uzbekistan',
    'United Arab Emirates', 'Kyrgyzstan', 'Kuwait', 'Turkmenistan', 'Tajikistan',
    'Korea Republic', 'Korea DPR', 'Cambodia', 'Indonesia', 'China PR') 
    and W.Country not in /*OFC*/ ('Fiji', 'Samoa', 'Solomon Islands', 'Vanuatu', 'Papua New Guinea', 'New Zealand') 
  Order by W.Country