
Select Top 100
    L.[C-id] as CID
  , L.[Country]
  , L.[Latitude]
  , L.[All Players]
  , L.[Registered Players]
  , L.[Unregistered Players]
  , L.[Clubs]
  , L.[Officials]
  , C.[n_clubs_4000]
  , C.[tot_cps]
  , Convert(money, C.[tot_cps])/Convert(money, C.[n_clubs_4000]) as Avg_CPS
From FIFA.dbo.[Country Level Soccer Data] L
Join FIFA.dbo.[All time top 4000 clubs by country] C
  on C.country = L.Country
  
  
  
  
/****** Script for SelectTopNRows command from SSMS  ******/
/*
SELECT
    C.[country]
  , C.[n_clubs_4000]
  , C.[tot_cps]
  , Convert(money, C.[tot_cps])/Convert(money, C.[n_clubs_4000]) as Avg_CPS
FROM [FIFA].[dbo].[All time top 4000 clubs by country] C
*/