Drop Table #Temp
Go

Create Table #Temp
(
    Country varchar(50)
  , Year smallint
  , TRAPGDP varchar(50)
  , TRAPGDP_invalid tinyint
)

Insert into #Temp
SELECT * 
FROM (
	INSERT INTO #TEMP SELECT [Country Name] as Country, 1993 as Year, [1993] as TRAPGDP, 0 as [TRAPGDP_invalid] FROM [FIFA].[dbo].[TaxFracGDP]

	UNION ALL

	SELECT
		[Country Name] as Country
	  , 1994 as Year
	  , [1994] as TRAPGDP
	  , 0 as [TRAPGDP_invalid]
	FROM [FIFA].[dbo].[TaxFracGDP]

	UNION ALL

	SELECT
		[Country Name] as Country
	  , 1995 as Year
	  , [1995] as TRAPGDP
	  , 0 as [TRAPGDP_invalid]
	FROM [FIFA].[dbo].[TaxFracGDP]

	UNION ALL

	SELECT
		[Country Name] as Country
	  , 1996 as Year
	  , [1996] as TRAPGDP
	  , 0 as [TRAPGDP_invalid]
	FROM [FIFA].[dbo].[TaxFracGDP]

	UNION ALL

	SELECT
		[Country Name] as Country
	  , 1997 as Year
	  , [1997] as TRAPGDP
	  , 0 as [TRAPGDP_invalid]
	FROM [FIFA].[dbo].[TaxFracGDP]

	UNION ALL

	SELECT
		[Country Name] as Country
	  , 1998 as Year
	  , [1998] as TRAPGDP
	  , 0 as [TRAPGDP_invalid]
	FROM [FIFA].[dbo].[TaxFracGDP]

	UNION ALL

	SELECT
		[Country Name] as Country
	  , 1999 as Year
	  , [1999] as TRAPGDP
	  , 0 as [TRAPGDP_invalid]
	FROM [FIFA].[dbo].[TaxFracGDP]

	UNION ALL

	SELECT
		[Country Name] as Country
	  , 2000 as Year
	  , [2000] as TRAPGDP
	  , 0 as [TRAPGDP_invalid]
	FROM [FIFA].[dbo].[TaxFracGDP]

	UNION ALL

	SELECT
		[Country Name] as Country
	  , 2001 as Year
	  , [2001] as TRAPGDP
	  , 0 as [TRAPGDP_invalid]
	FROM [FIFA].[dbo].[TaxFracGDP]

	UNION ALL

	SELECT
		[Country Name] as Country
	  , 2002 as Year
	  , [2002] as TRAPGDP
	  , 0 as [TRAPGDP_invalid]
	FROM [FIFA].[dbo].[TaxFracGDP]

	UNION ALL

	SELECT
		[Country Name] as Country
	  , 2003 as Year
	  , [2003] as TRAPGDP
	  , 0 as [TRAPGDP_invalid]
	FROM [FIFA].[dbo].[TaxFracGDP]

	UNION ALL

	SELECT
		[Country Name] as Country
	  , 2004 as Year
	  , [2004] as TRAPGDP
	  , 0 as [TRAPGDP_invalid]
	FROM [FIFA].[dbo].[TaxFracGDP]

	UNION ALL

	SELECT
		[Country Name] as Country
	  , 2005 as Year
	  , [2005] as TRAPGDP
	  , 0 as [TRAPGDP_invalid]
	FROM [FIFA].[dbo].[TaxFracGDP]

	UNION ALL

	SELECT
		[Country Name] as Country
	  , 2006 as Year
	  , [2006] as TRAPGDP
	  , 0 as [TRAPGDP_invalid]
	FROM [FIFA].[dbo].[TaxFracGDP]

	UNION ALL

	SELECT
		[Country Name] as Country
	  , 2007 as Year
	  , [2007] as TRAPGDP
	  , 0 as [TRAPGDP_invalid]
	FROM [FIFA].[dbo].[TaxFracGDP]

	UNION ALL

SELECT
		[Country Name] as Country
	  , 2008 as Year
	  , [2008] as TRAPGDP
	  , 0 as [TRAPGDP_invalid]
	FROM [FIFA].[dbo].[TaxFracGDP]

	UNION ALL

	SELECT
		[Country Name] as Country
	  , 2009 as Year
	  , [2009] as TRAPGDP
	  , 0 as [TRAPGDP_invalid]
	FROM [FIFA].[dbo].[TaxFracGDP]

	UNION ALL

	SELECT
		[Country Name] as Country
	  , 2010 as Year
	  , [2010] as TRAPGDP
	  , 0 as [TRAPGDP_invalid]
	FROM [FIFA].[dbo].[TaxFracGDP]

	UNION ALL

	SELECT
		[Country Name] as Country
	  , 2011 as Year
	  , [2011] as TRAPGDP
	  , 0 as [TRAPGDP_invalid]
	FROM [FIFA].[dbo].[TaxFracGDP]
) as Reformat
ORDER BY 
    Country
  , Year



Select *
From #Temp NS
Join FIFA..[testing out] DK
  on NS.Country = DK.country